[2014-11-16 22:33] brendanfalkowski opened #8 "Example vs guide: what's the difference?"
Curious what the difference between examples and guides is?

I think it's hard to separate visual style guides, code style, brand guides, copywriting guides, and pattern libraries in practice. For me, there's more overlap than separation (on the web). I tend to just call everything "patterns" and mush them together so it's central.

[2014-11-16 22:39] maban commented on #8
Yeah, it is a little vague. What I wanted to differentiate were styles guide for markup, like [Harry Roberts's CSS Guidelines](http://cssguidelin.es/), which focus on how the code is written, and examples of style guides that focus on the website interface. Putting them together felt wrong, but I totally get your point. Maybe I just haven't chosen the right names.

Either way, I should add descrip

[2014-11-16 22:42] brendanfalkowski commented on #8
I was looking for a README in `guides` to see what's meant to be there. Maybe Code Guides and UI Guides? I'd think visual/pattern/brand/copywriting can roll into UI quite well, and code is a kind of different concern.

[2014-11-16 23:04] maban commented on #8
I've just pushed some descriptions to the site and I'd be interested to know what you think.

I want to keep code and copywriting (things like Mailchimp's Voice and Tone and Google's Markup guidelines) separate from the examples (like Starbuck's style guide and Mailchimp's pattern library), because the main thing I'm focusing on is these examples – the pattern libraries and ui.

I think "guides" i

[2014-11-16 23:14] maban commented on #8
I've added a readme to the guides folder, thanks for mentioning that it was missing. https://github.com/maban/styleguides/blob/gh-pages/_resourceguide/README.md

[2014-11-16 23:27] bradfrost commented on #8
I have a blog post on exactly this topic coming out soon :)

[2014-11-16 23:36] bradfrost opened #10 "Domain"
Hey All,
First of all, thanks for setting this up! I'm just now getting in front of my computer after wrapping up a few obligations, so thanks for doing all the groundwork. The site looks great already!

As for where this should live, I think it would be a great idea to get a dedicated domain for this resource. Hosting on Github can be weird URL-wise, and living on any one person's site could sell

[2014-11-16 23:41] maban commented on #8
Oh good! I talked about it a bit in my book after my editor said the terms needed to be defined properly (pattern library, ui library, front-end style guide…) because they're confusing, and I felt like a fraud because I don't really know the difference. Everyone calls them different things (myself included), even though some are very similar.

I try to use style guide as the overarching term, fron

[2014-11-16 23:45] maban commented on #10
I suck at names.

I like styleguides.io – one thing I'm wondering is how broad we want to make it. Style guides is a general term and I don't want to confuse it with print ones, but it'd also give us the freedom to make it more general if we want to.

[2014-11-17 00:24] maban opened #11 ""Recommended" resources"
There are now a lot of resources, so I've been adding `status: recommended` to the YAML front-matter on resources I want to highlight. This should make it easier for people who are looking for just a few good examples to look at. It's a bit biased just me doing it, and there are a few links I haven't had time to look at properly, particularly the talks, so please add the 'recommended' tag if you'r

[2014-11-17 01:00] bradfrost commented on #11
I think that's a great idea, and is something I do with This Is Responsive resources as well. There's a lot of stuff out there, but if you had to read _one_ thing on a topic, it's good to float a particularly good resource to the top.

[2014-11-17 01:10] bradfrost opened #13 "Branding Guides"
I have a _ton_ of examples of brand style guides. While they're a bit deeper in scope than web style guides, do you think it's a good idea to include these into the mix? Again, the lines can be a bit gray, but I personally think it would be helpful to round these up as well.

[2014-11-17 01:19] bradfrost commented on #10
I think being broad is a good thing. Being too specific can be limiting over time (Flash on the Beach etc), so I think a bigger umbrella is a good thing. I'll go ahead and snag styleguides.io and we can go from there, if that works for you all!

[2014-11-17 02:32] brendanfalkowski commented on #8
@maban No problem, need to work out what terms mean to have a taxonomy. I often say code standards, style guide, and pattern library. A lot of the examples cross the lines. Maybe it would be good to have a plain "Examples" section and then tag each with the terms that are relevant?

[2014-11-17 02:37] brendanfalkowski commented on #10
I'd stay broad too, but aren't .io domains a bit pricey (for a micro-site)? Thanks for volunteering @bradfrost just don't want you saddled with it (I'm sure we all have domain skeleton closets).

[2014-11-17 08:27] maban commented on #13
Go for it!

[2014-11-17 09:23] maban commented on #13
I might add a separate category for these – maybe rename examples to "front-end style guides" and put these in one called "branding style guides". Or something.

[2014-11-17 09:23] maban commented on #10
Sounds good! Brad, if you haven't already, I'd be happy to buy the domain. I can business-expense it.

[2014-11-17 16:16] bjankord commented on #8
The term "style guide" has gained new meanings and has become more ambiguous in my opinion, similar to the term, "mobile".

These days a style guide could be something like or [Mark Otto's Code Guide](http://codeguide.co/) which documents coding conventions or something like [Dan Eden's style guide](http://daneden.me/styleguide/) which demonstrate the visual styles of the various elements on his s

[2014-11-17 16:38] bradfrost commented on #8
Yep, again I have a blog post coming up explaining the difference. But
basically you've hit the general categories: branding, voice, writing, UI,
code.

---

Brad Frost
http://bradfrostweb.com
http://twitter.com/brad_frost

On Mon, Nov 17, 2014 at 11:16 AM, Brett Jankord notifications@github.com
wrote:

[2014-11-17 16:40] bjankord commented on #8
@bradfrost I like that distinction. Looking forward to the blog post!

[2014-11-17 21:08] crismanNoble opened #24 "http://styleguides.maban.co.uk/ is returning a 404"
I was linked to http://styleguides.maban.co.uk/ from today's Sidebar email newsletter. It gave me a 404. I did some digging and found this repository and thought you might like to know.

[2014-11-17 21:29] bjankord commented on #24
Ah I'm curious if this is related to the [CNAME update](https://github.com/maban/styleguides/commit/cdf611bbedb264e0ce29fc6013033f050bfc3f92)? Probably need to point traffic going to [styleguides.maban.co.uk](http://styleguides.maban.co.uk) towards [http://www.styleguides.io/](http://www.styleguides.io/)

Might want to point http://www.styleguides.io/ to non www too?

[2014-11-18 00:31] quattromani commented on #24
also worth noting, syleguides.io working great in FF/safari, no worky in Chrome (DNS lookup failed)

[2014-11-18 02:27] susanjrobertson commented on #11
I will ponder and go through content to figure out what I would recommend :)

[2014-11-18 02:30] susanjrobertson commented on #8
Holy cow, this discussion is so perfect for me right now, trying to define all this for a talk!

[2014-11-18 05:12] bradfrost opened #27 "Example Tagging"
Before sinking my teeth in and committing a whole shitload of examples, I think it would be a good idea to get a taxonomy established to classify them. With the current infrastructure, is tagging possible? Tagging would be ideal since many style guides often incorporate multiple categories (some are both component libraries and coding guidelines, others are branding and writing documents, and so o

[2014-11-18 05:21] brendanfalkowski commented on #27
Right on, that's what I was trying to get at here: https://github.com/maban/styleguides/issues/8#issuecomment-63253304

Could we just do a YAML list like this?

[code]

Then drop those tags into a data-tags attribute on the card? Just a little JS needed to filter visibility of cards without one active tag.

Might be annoying enforcing the defined tags, but with a good start I think people will pla

[2014-11-18 05:34] bradfrost commented on #27
@brendanfalkowski ah yeah, that would be great! I'm not totally familiar with YAML so your code example is really helpful. I'll go through and populate the tags for the examples and start seeding more.

[2014-11-18 05:43] brendanfalkowski commented on #27
@bradfrost That's how YAML works in Statamic — pretty sure Jekyll can parse the same. Looks about equivalent: http://stackoverflow.com/questions/23773873/jekyll-tag-list-on-a-page

Actually like this list format more (haven't seen that before):

[code]

Maybe try with a handful before tagging them all?

[2014-11-18 06:47] bradfrost commented on #27
Alright, I've dropped in the tagging to `_includes/examples.html`. Right now the tags aren't doing anything, but I've added the appropriate tags to all the recommended examples.

[2014-11-18 09:17] maban commented on #24
It's already set correctly, just got to wait a while for the DNS to do its thing.

[2014-11-18 14:06] bradfrost commented on #8
Alright yinz, thanks to this little project I thought it would be time to finally publish that post describing the different flavors of style guides. [Here's the post](http://bradfrost.com/blog/post/style-guides/), which maybe we can use for the tagging stuff described in #27.

[2014-11-18 14:45] bjankord commented on #27
+1, I like this list, helps add clarity to question, what is a style guide?

[2014-11-18 16:28] maban commented on #27
I'll get the tags doing something cool in Jekyll soon.

[2014-11-18 17:14] bjankord opened #32 "Add list of contributors to footer"
I really like how the [a11yproject.com](http://a11yproject.com/) displays a list of contributors on their site, makes it feel more like a community-driven effort.

What are your thoughts on adding something like that to this project? There is a jQuery plugin I can add to display contributors in the footer. I'm unsure about adding jQuery to the project for this plugin though. The plugin requires jQ

[2014-11-18 17:29] susanjrobertson commented on #24
It seems Chrome works, but only with the www in the front :)

[2014-11-18 17:53] maban commented on #24
@bradfrost is looking into this – might take another day to straighten itself out.

[2014-11-18 18:05] susanjrobertson commented on #32
I don't mind the idea of it, but agree that adding jQuery just for this seems a bit much. What say you @maban, @bradfrost, and other?

[2014-11-18 18:08] maban commented on #32
I like the idea but this seems a bit much for now. I could add a static link in the footer to the contributors page on GitHub, but I don't really want to add JavaScript if it's not core to the content.

[2014-11-18 18:36] susanjrobertson commented on #8
I am thinking we can close this, since we have the tagging issue? Unless anyone else feels the need to keep it open.

[2014-11-18 18:54] bradfrost commented on #8
Yep, closing now! Hey guys, this is fun right?

[2014-11-18 18:54] #8 closed, assigned to nobody

[2014-11-18 18:57] bradfrost commented on #24
Good news! I believe the issue is finally sorted out. We've checked on a bunch of browsers and environments and it appears to be working properly now. If you're still seeing issues, make sure you clear your browser cache.

[2014-11-18 18:57] #24 closed, assigned to nobody

[2014-11-18 18:59] susanjrobertson commented on #32
I think the link is a good compromise.

[2014-11-18 19:12] bradfrost commented on #32
Eventually we'll have some additional functionality (such as tagging #27), but if yinz are hardcore to do all that vanilla then be my guest! I will sit back and wallow in a pool of my lacking JS skillz.

[2014-11-18 19:12] susanjrobertson commented on #10
Sounds like this is done, so closing!

[2014-11-18 19:12] #10 closed, assigned to nobody

[2014-11-18 19:14] maban commented on #32
I've added a link to the footer, it'll do for now.

[2014-11-18 19:14] #32 closed, assigned to nobody

[2014-11-18 19:44] bjankord commented on #32
Cool, the link seems like a good solution to me. I was thinking jQuery was too heavy for this but didnt want to write a vanilla JS version of the getJSON method to interface with the github API.

[2014-11-18 20:20] brendanfalkowski commented on #32
Will https://github.com/filamentgroup/shoestring instead of jQuery for a smaller size? I'm lacking on raw JS power also.

[2014-11-18 22:23] brendanfalkowski opened #36 "Standardizing image specs"
Was peeking at the images being uploaded and spotted a few +75 KB images. Think we need some standards sooner rather than later because 50 images x 50 KB = 2.5 MB page. Kind of blows jQuery out of the water if these aren't being optimized well.

I'm thinking 600x400 can cover up to 1920px wide screens at 1:1 pixel ratio, while doubling up for smaller hi-res screens. Most of the screenshots can be

[2014-11-18 22:27] brendanfalkowski commented on #36
Oh, just saw this: https://github.com/maban/styleguides/blob/gh-pages/_resourceexample/README.md

Guessing GH Pages can't do image resizing. Might be better to err on the smaller side?

[2014-11-18 22:37] susanjrobertson commented on #11
Alright, I looked at what was there and recommended the one thing that I did already have it, but I don't all the other resources (need a weekend to read, play, etc).

[2014-11-18 22:54] maban commented on #36
I was just thinking about this. I've been adding a bunch of images to the talks, and I wanted these to be a bit taller because they're replacing the heading. But with so many resources and images, that'll be a lot to download.

600x400 is going to be better than 800px wide. I'll have another think.

Also agree with the 4-per-row on giant screens.

[2014-11-18 22:59] maban commented on #27
I've merged all the examples and guides together, so now they're just examples. I've also added an extra tag called "patterns", based on Brad's blog post. That'll help people find the pattern libraries from the code standards style guides.

[2014-11-18 23:05] brendanfalkowski commented on #36
Was thinking 600x450 for talks (so 4:3) but then realized most of mine are widescreen (16:9) actually. Might be better to just set the width at 600 and let the talk determine its height.

I'll whack in the 4-per-row now.

[2014-11-18 23:07] maban commented on #36
Great, thanks!

I went for 4:3 but noticed the same thing you did about them being widescreen. Good idea to just let the width determine the height, I just liked the consistency.

I'm wondering if the picture element might be appropriate here.

[2014-11-18 23:16] bradfrost commented on #36
Is it possible to do a bit of lazy loading for the images? Being that this is a static site, a picture element approach might be hard to maintain.

[2014-11-18 23:22] maban commented on #36
Yes, I think that'd be a good solution. I'm also wondering whether to only show images for recommended resources (to keep the load down).

I want to make it as easy as possible for people to add content so I take your point about picture element being hard to maintain. There might be an automated Jekyll/Grunt way of resizing images though, so I'll investigate that too.

I'm going to work more on s

[2014-11-18 23:25] brendanfalkowski commented on #36
Added 4-per-row for screens 1500px and wider: f8278e5e58a8b1121dab4ee72e0aa4ddebdff9d4

Rewrote the n-child use a bit, and thankfully worked first try :)

Edit: actually, needed a little fix: b2f55d00c4b0eb76dbef0d08dbaeb558a50d231c

[2014-11-18 23:25] bradfrost opened #39 "Rename "frontend" tag to "UI""
Wondering if it would be provide some clarity if we renamed the "frontend" tag to "ui". "Frontend" could easily be misconstrued for "code". For example, [Harry's CSS Guidelines](http://cssguidelin.es/) was tagged with both "frontend" and "code", when in fact it deals purely with code semantics.

Definitely don't want to be that guy, but it's probably a good idea to clarify this stuff while we're s

[2014-11-18 23:29] bradfrost commented on #27
Ah whoops! I should have read this before creating #39

[2014-11-18 23:37] maban commented on #39
You're not being that guy – I'd rather be thinking about this now than further down the line.

I thought frontend could cover basically everything, and I like UI as an alternative. At the moment, I've used "pattern" to kindof mean that.

[2014-11-18 23:46] brendanfalkowski commented on #39
I'd tag Harry's guide "code", and "ui" works (even though I usually say pattern library). Might change that.

[2014-11-18 23:49] bradfrost commented on #36
I think for non-example resources keeping it to the recommended resources is a good idea. I do think the examples section really benefits from having the thumbs there.

[2014-11-19 09:18] maban commented on #36
How about…? on the home page, images only display on recommended resources. On the inner pages (like if you're on the example page or talk page) they all display.

[2014-11-19 11:55] bradfrost commented on #36
That sounds great to me!
On Wed, Nov 19, 2014 at 4:19 AM Anna Debenham notifications@github.com
wrote:

[2014-11-19 14:09] michaelthorne opened #41 "Consolidate GitHub styleguide examples"
Just a question, I see that there are two examples for GitHub: http://styleguides.io/examples.html

They're both all part of their "styleguide", based on the URL: https://github.com/styleguide which includes CSS, JavaScript & Ruby coding guidelines, as well as a short section on HTML & Templates.

So should we not just have one example, pointing to: https://github.com/styleguide

The reason I ask,

[2014-11-19 18:04] brendanfalkowski commented on #41
I added the GitHub styleguide (I think), but chose not to reference each section individually. Same goes for the "mobile" section since it's part of the company's overarching styleguide.

I think we should limit one entry per project/company, except in a case like MailChimp where they have separate sites for patterns, voice, etc. The tagging should handle make it easy enough to find "code" guides

[2014-11-19 18:07] brendanfalkowski opened #44 "Styleguide or style guide?"
Personally, I'm right on the fence between styleguide or style guide? Wonder if we might discuss that.

I like concatenated phrases because it becomes a thing, but I'd never write brandguide so I kind of lean the other way.

[2014-11-19 18:22] michaelthorne commented on #41
Agreed on the limit of one entry per project/company! :+1:

Especially if that website has (clear) navigation to browse other related sections.

[2014-11-19 18:26] michaelthorne commented on #44
:100:

When it comes to URLs, concatenation makes sense: `styleguide` | `styleguides`, etc.

[2014-11-19 18:31] bradfrost commented on #44
+1 for Style Guides. Although I'm not too miffed either way.

[2014-11-19 18:35] maban commented on #44
Style Guide. That's what my editor said anyway. He also tells me off for writing "icecream" instead of "ice cream". I'm always getting it wrong regardless.

[2014-11-19 18:39] brendanfalkowski commented on #44
Style guide it is.

@michaelthorne I'd agree for domain names (styleguide) but I always like to see paths dashed out (x.com/style-guide).

[2014-11-19 18:52] bjankord commented on #44
Style Guide is what I use, in urls I write is as style-guide.

[2014-11-19 19:01] bradfrost commented on #41
Yep I think keeping it simple is a good idea. So long as the style guides are navigable and things are tagged appropriately, we should be good. Of course there are exceptions (MailChimp as noted above), but for the most part consolidating the URLs is a good idea.

I'm going to close this out for now.

[2014-11-19 19:01] #41 closed, assigned to nobody

[2014-11-20 02:08] joelparr opened #46 "Hover transforms on resource modules causing lag + flickering"
Not sure if it's lack of GPU-enabled rendering or what, but if I hover over any of the resource module boxes (each li.resource) there is a distinct lag before the scale transform kicks in and the content of every  <li> flickers, making even scrolling through hand exploring the resources seem super janky on my machine.

Safari Version 8.0 (10600.1.25) on Yosemite 10.10 on a late 2013 13" Retina MBP

[2014-11-20 03:43] brendanfalkowski commented on #46
Hi Joel, unfortunately that's just Safari being a lame duck. The flickering happens when elements are promoted or demoted to GPU rendered layers as when transitions are applied. Most browsers get this right (including Mobile Safari) but WebKit for Safari Mac has always been wonky with rendering.

Looks like the GH Pages template was only coded for WebKit (d'oh) so you won't see the transitions in

[2014-11-20 03:52] joelparr commented on #46
Yeah, understood. If you want to take the slightly hacky route, making each li.resource a block element with -webkit-transform set to translateZ(0) (since we don't have to worry about FF or IE!) seems to pull safari nicely into line for me.

[2014-11-20 03:55] #46 closed, assigned to nobody

[2014-11-20 03:59] brendanfalkowski commented on #46
Just added the other vendor-prefixes but it looks like Safari is still janky.

[2014-11-20 05:26] brendanfalkowski commented on #27
Updated the tag style a bit so it doesn't look like description text.

Also, I used a #backend tag for my Gravity Department example because I have a style guide for PHP code. I know a few other places these exist. Pretty sure that's worth documenting, no?

[2014-11-20 05:51] bradfrost commented on #27
The tag styles look great! And yeah, if we're keeping the 'frontend' tag in there, I suppose backend makes sense. I thought 'frontend' was replaced by 'patterns' so frontend would be retired, but it does work in the context that's on the site now. I'm fine keeping it if you all are.

[2014-11-20 06:23] bradfrost opened #47 "Wufoo Form for submitting"
So I ran into this a lot on [This Is Responsive](http://bradfrost.github.io/this-is-responsive/index.html). A lot of people want to help, but find tools like Github confusing and intimidating (and I can't say I blame them).

I'd like to set up a Wufoo form so that people can submit resources without having to go through Github. I'm happy to monitor the submissions (in my experience it's certainly

[2014-11-20 06:28] brendanfalkowski commented on #27
Technically "code" (frontend or backend) + "ui" would cover all three cases. Not sure if others would find it useful to have "backend" code guides separated from "frontend". They're all in one place for most code guides.

[2014-11-20 06:30] brendanfalkowski commented on #47
Sounds like a good idea. I'd only done like two pull requests before this (not much hand-holding from GitHub yet) so it'd be nice for people who aren't going to learn that just to share a link.

[2014-11-20 06:36] bradfrost commented on #47
Alright, the form is live: https://bradfrost.wufoo.com/forms/add-resource-to-styleguidesio/

Where are we thinking we can put this? We have that nice "Add an example" tile at the end of each grid, which would be nice to include a link to the form there. But for now it might make sense to link it up in the `README.md` files like [we have here](https://github.com/maban/styleguides/tree/gh-pages/_res

[2014-11-20 06:42] brendanfalkowski commented on #47
We could make a "contributing" page and link to that from each section instead. Describe the two options briefly with links out. People that know GH won't have too much trouble using the READMEs.

[2014-11-20 08:03] maban commented on #27
@brendanfalkowski: You're on fire! The tags look great! I'll make them links on Friday so people can filter examples by tag.

I think a backend tag is useful, definitely.

[2014-11-20 08:12] maban commented on #47
This is something my colleague @elrat was suggesting to me yesterday – she's not used Jekyll before so I asked her to run through the steps to add a resource, to make sure the README was explanatory enough. She said she found it jarring to get sent to a GitHub page, and that would put her off contributing, even if the explanation was good.

I think a "contributing" page would really help. So when

[2014-11-20 13:17] maban commented on #46
I added a fix this morning: https://github.com/maban/styleguides/commit/cd8ad6d75f38e2f2c3e72e90514b8da9c4addeda – same thing?

[2014-11-20 13:58] joelparr commented on #46
Yep, that's the one.

[2014-11-20 16:45] brendanfalkowski commented on #46
Ah, right. translate3d on the element not the state. Good catch Anna!

[2014-11-20 17:24] susanjrobertson commented on #47
Just catching up here, all of this is super great. I :heart: Github, but so many people don't that I love the form. Well done @bradfrost! @maban if you need help setting something else up, let me know, I have time :smile_cat:

[2014-11-20 17:27] susanjrobertson commented on #27
really like these!

[2014-11-20 19:03] maban commented on #47
Assigning this to me. Going to get Brad's form on the site tomorrow.

[2014-11-20 19:03] #44 closed, assigned to nobody

[2014-11-20 19:28] bradfrost commented on #27
Yeah these are great. One of the things we'll want to make sure with the tagging functionality is that the URL is updated so that we can link to a specific flavor of styleguide. Not sure how hard that is, but maybe that's something I can help out with.

[2014-11-21 08:44] hiulit opened #56 "Typo: "Contributers"."
I know it's a silly issue, but there it is, at the bottom of the page ;)

![capture](https://cloud.githubusercontent.com/assets/481475/5139752/9e4230a8-7162-11e4-998d-3d316fccf66b.PNG)

[2014-11-21 08:51] #56 closed, assigned to nobody

[2014-11-21 08:52] michaelthorne commented on #56
Thanks @hiulit :+1:

[2014-11-29 11:48] maban commented on #47
I've added something in: https://github.com/maban/styleguides/commit/e93788441736a3de908adedccf6e6b4173c013b8 – let's see how it goes :)

[2014-11-29 11:48] #47 closed, assigned to maban

[2014-12-01 07:56] michaelthorne commented on #47
@maban Thanks, that's cool.

I made a small update to how it works on the home page: https://github.com/maban/styleguides/pull/67 I didn't merge it in yet, wanted to get your opinion first.

[2014-12-01 08:32] maban commented on #47
Thanks so much for spotting this, and pushing a fix! You're a star :)

[2014-12-01 08:33] michaelthorne commented on #47
No worries! Happy for me to merge my pull request?

[2014-12-01 08:34] maban commented on #47
Done! (I forgot to press the second big green button)

[2014-12-01 08:35] michaelthorne commented on #47
Cool :smile:

[2014-12-11 09:05] martinwolf opened #75 "Renaming "Recommended"?"
Hej,

styleguides.io is a great ressource and I like what you're doing.
What attracted my attention right away was the Recommended tag. In my opinion the wording is a little bit unfortunate, because I guess all links are recommended otherwise they wouldn't be on the site, right?

How about renaming it to "Favourite", "Staff Favourite", "Special", "Extra", "Noteworthy" or something along those line

[2014-12-11 11:30] maban commented on #75
That's a good point, Martin, and I like your suggestions.

I personally like "noteworthy" the most, and I also like "favourite". @bradfrost, @susanjrobertson, @brendanfalkowski, @Ianfeather, @michaelthorne – what do you think?

[2014-12-11 11:36] michaelthorne commented on #75
@martinwolf Agreed. @maban I think "Favourite" is good too. Another possibility is "Featured", although that could imply for a limited period only...

[2014-12-11 14:23] bradfrost commented on #75
Or maybe just a simple star?

On Thursday, December 11, 2014, Michael Thorne notifications@github.com
wrote:

##

---

Brad Frost
http://bradfrost.com
http://twitter.com/brad_frost

[2014-12-11 14:32] bjankord commented on #75
I like the star idea.

On Thursday, December 11, 2014, Brad Frost notifications@github.com wrote:

[2014-12-11 15:01] susanjrobertson commented on #75
I like the star idea or I think favorite would work as well (whichever spelling ;) )

[2014-12-11 15:03] maban commented on #75
Yay! a star is cool! I'll make that change either tonight or tomorrow.

[2014-12-11 15:04] michaelthorne commented on #75
:star: :+1:

[2014-12-11 15:04] maban commented on #75
I realised it's just one line of code. Done!

[2014-12-11 15:04] #75 closed, assigned to nobody

[2014-12-11 16:27] brendanfalkowski commented on #75
Kapow!

[2014-12-12 07:36] martinwolf commented on #75
Yeah! :dancer:

[2014-12-15 21:29] fstorr opened #77 "_layouts page.html needs a lang attribute"
Hi

A quick accessibility fix for you good people:

_layouts page.html needs a `lang` attribute to meet the [WCAG 2.0 "Language Of A Page" requirement](http://www.w3.org/TR/2008/REC-WCAG20-20081211/#meaning-doc-lang-id).

Keep up the good work :)

[2014-12-16 19:53] bjankord commented on #77
This has been fixed with #78

[2014-12-17 15:13] #77 closed, assigned to nobody

[2015-01-06 09:27] robhrt7 opened #85 "Separate Frameworks from Tools section"
Hi,

It's very confusing to mess up Frameworks, Starting templates and Tools in one section. Currently first five projects in this section are not Tools - Barebones, Bootstrap, Foundation etc. Also Style Tyles that is an approach, not a tool, must be listed in the direffent section.

Let discuss additional section names for those items, that doesn't fit for Tools group.

[2015-01-06 14:55] bradfrost commented on #85
Hey @operatino,
Thanks for the suggestion. I don't think it's going to be possible to make a new page for each of these areas, but perhaps we can add a tagging system similar to the [examples](http://styleguides.io/examples.html) page. Thanks again for the suggestion!

[2015-01-06 18:32] robhrt7 commented on #85
Yeah, of course we don't need a ton of sections, would be enough having tags and split Tools section to two different one. It's really hard to find real tools among frameworks.

[2015-01-08 06:23] brendanfalkowski commented on #85
I may have a way to help with this. Incoming...

[2015-01-08 08:33] brendanfalkowski commented on #27
So...wanted to add tag filtering a while ago. Check this out: http://styleguides.io/examples.html

Think we could expand the use of tagging to cover #85.

It's only implemented on that one page, and it's a little manual to configure but should be adaptable to use in single/multiple instances on page. Needs a bit of styling love, but it works well enough as-is because you can stack tags to narrow d

[2015-01-08 08:42] maban commented on #27
OMG! this is brilliant! I've been trying to do this for ages on another
repo and this works exactly how I'd been trying to do it. You're amazing!

On 8 January 2015 at 08:33, Brendan Falkowski notifications@github.com
wrote:

[2015-01-08 13:53] bradfrost commented on #27
Sexy! Get it in there! hahaha

[2015-01-08 16:20] susanjrobertson commented on #27
AWESEOME! :+1:

[2015-01-22 18:08] montogeek opened #87 "More styleguides resources"
Hi!
I just discovered this repo 3 minutes ago on Twitter, I have been doing the same, compiling resources/tools/examples for creating CSS Guidelines on https://github.com/montogeek/guidelines.

I think some of the links can be added to this resources repo. If so, can I add all the links that are missing here?

Thank you!

[2015-01-23 05:50] bradfrost commented on #87
Hey @montogeek! Thanks for sharing your resource compilation. That was the genesis of this project, too. We all had our own little collections going, so we decided to make an uber resource! It looks like all of the links provided are covered on the site (minus I think one that's just a collection of style guides included elsewhere), but definitely feel free to add more resources as you come across

[2015-01-23 05:50] #87 closed, assigned to nobody

[2015-02-02 17:30] montogeek opened #91 "New tool resource RSCSS"
RSCSS

Reasonable Stardard\* for CSS Stylesheet Structure.
https://github.com/rstacruz/rscss

[2015-02-02 20:42] bradfrost commented on #91
Hey @montogeek,
Thanks for sharing RSCSS. It looks like this is a CSS methodology like BEM, OOCSS, or SMACSS, is that correct? If that's what it is, I don't know if this site is the best place for it. The site focuses on tools for maintaining style guides and pattern libraries rather than specific CSS methodologies.

If I'm misunderstanding this and this has to do with style guides and pattern lib

[2015-02-02 20:42] #91 closed, assigned to nobody

[2015-02-02 21:29] montogeek commented on #91
Yes, is more like a methodology. What if this site add a section for methodologies?

[2015-02-02 21:42] bradfrost commented on #91
I'd love to see a resource site that rounds up CSS methodologies! However, I don't think it's this site. Again, the focus here is on creating and maintaining pattern libraries/style guides rather than individual methodologies.

But yeah, I'd fully support that project!

[2015-02-25 19:12] susanjrobertson opened #96 "Talk titles and info missing"
I noticed when I added my SmashingConf talk to the talk list that a lot of them aren't showing the titles or the footer by and conf info. I didn't have time to look into it today, but am leaving this here for a reminder to take a closer look.

[2015-02-25 19:24] maban commented on #96
Oh! That sounds like a Jekyll template thing! Probably something that used to work and then I broke it when I made some changes to the site. I'm doing some stuff on the site tomorrow morning so I'll have a look at it then.

[2015-03-05 09:39] allardvanhelbergen commented on #13
We might also just want to link out to some existing sites that already collect branding guidelines, to keep the site focussed.

The following are some good collections:
- [FindGuidelin.es](http://findguidelin.es/)
- [Corporate Identity Portal](http://www.ci-portal.de/styleguides/)
- [Design Tagebuch](http://www.designtagebuch.de/wiki/corporate-design-manuals/)
- [Logo Design Love](http://www.logo

[2015-03-08 17:40] bradfrost commented on #13
It's fine for the branding guidelines to exist on the site, and we now have filters in place to sort things accordingly. Thanks for sharing these other guideline roundups as well!

[2015-03-08 17:40] #13 closed, assigned to nobody

[2015-03-08 20:28] opattison opened #102 "Tag inconsistency in Examples (“brand”/“branding”)"
Should be a quick fix, but maintainers should decide on one. [Docs](https://github.com/maban/styleguides/blob/gh-pages/_resourceexample/README.md) say “branding”, so I assume this is the preferred one?

[2015-03-08 20:42] opattison commented on #102
PR #103 can address it, assuming the choice for the tag is “branding”.

[2015-03-08 23:44] #102 closed, assigned to nobody

[2015-03-11 09:02] allardvanhelbergen commented on #13
Ok, thanks @bradfrost . I'll prepare a PR for some of the nicer/more outstanding ones over the next couple of days, shall I?

[2015-03-16 00:43] adam-lynch opened #106 "404: "Keeping pattern libraries in sync""

[2015-04-22 15:15] benbrignell opened #121 "Examples page: Dell image link missing/broken"
![image](https://cloud.githubusercontent.com/assets/362340/7277909/69c02c66-e90a-11e4-8356-97bd16ec8e76.png)

[2015-04-22 15:24] michaelthorne commented on #121
![dell](https://cloud.githubusercontent.com/assets/2629322/7278244/6478c5c4-e914-11e4-9741-5358d9379923.png)

Should be good now?

[2015-04-22 15:24] #121 closed, assigned to nobody

[2015-04-22 23:57] benbrignell opened #123 "Header reflows and breaks at around 1004px"
![image](https://cloud.githubusercontent.com/assets/362340/7288012/8081913a-e953-11e4-9824-a56dbefabddf.png)

[2015-04-23 00:54] bradfrost opened #124 "Filters break"
![examples](https://cloud.githubusercontent.com/assets/383701/7288562/8540dcfc-e931-11e4-8237-795186da717f.png)

Clicking on the filters a few times will break the filtering functionality. It looks like the `data-toggle="off"` persists and is causing issues.

[2015-04-23 00:58] bradfrost opened #125 "Grid layout issues when filtering"
![examples](https://cloud.githubusercontent.com/assets/383701/7288579/d999c49e-e931-11e4-94bc-7631fedc2bf2.png)

When filters are triggered, the layout often breaks onto separate lines. This has to do with the `clear: left` rules applied to the grid, such as `.resource:nth-child(4n+1) { clear: left; }`.

Perhaps a solution could be to use flexbox and `flex-wrap`? That would fix the issue and would

[2015-04-23 01:01] bradfrost opened #126 "Update URL on filter"
It would be great to update the hash in the URL (i.e. `styleguides.io/examples.html#branding`) so that we can link to a particular flavor of style guide.

Without looking at the logic, I think this would require having each filter be mutually exclusive. As in, you wouldn't be able to search for branding+code, but I don't see that as being a core use case any way. Being able to filter and see all b

[2015-04-23 01:47] walkerde opened #127 "Crashing mobile browsers"
safari, Twitter, and chrome. Even Pocket view.

[2015-04-23 07:36] whitingx opened #130 "Default Sort - Alphabetical"
On the examples page, it might be useful if the default order was alphabetical to allow easier browsing/finding of examples based on known name (e.g. if a user is looking for the IBM Design Language example they know it comes under 'I')

Seems like Jekyll does allow for this - http://www.leveluplunch.com/blog/2014/04/03/sort-pages-by-title-filter-array-by-layout-jekyllrb/

[2015-04-23 09:28] benbrignell commented on #127
I can't seem to replicate this, can you provide any more info?

[2015-04-23 11:08] bradfrost commented on #127
I can't replicate either, but at the same time we should probably look into
some sort of lazy loading solution to prevent 50+ images from loading.

On Thursday, April 23, 2015, Ben Brignell notifications@github.com wrote:

##

---

Brad Frost
http://bradfrost.com
http://twitter.com/brad_frost

[2015-04-23 11:30] walkerde commented on #127
I go to sleep. I wake up. And now no issues. Can't replicate either. Odd. Wish I was more help.

First looked at it in Twitter's browser view off Brad's tweet. Crashed.

Sent to Pocket, tried to view there. Crashed.

Opened out in Safari. Crashed.

Copy pasted into Chrome. Crashed.

iPhone 6+ all apps and OS up to date.

[2015-04-23 12:13] benbrignell commented on #127
What twitter client are you using @walkerde? It's probably something to do with the amount of images - but I did quickly test and it seemed ok. I agree with @bradfrost we should have a more smarter way of loading them now there are a lot more.

Among others, I have tested this with a couple of very basic Android devices and it still loads fine for me, no memory/crashes from images, at least so far

[2015-04-23 12:32] benbrignell commented on #127
Looked at it on a few more things now, still no issues. Images definitely would benefit from lazy loading. Perhaps @walkerde looking at the time of your tweet, maybe you happened to load it just as the build happened and had some caching problems weirdnessification.

[2015-04-23 13:34] benbrignell commented on #127
ok, I've thrown this around to a few people - nobody else has had it crash. So I suggest this get closed @bradfrost (I don't think I have perms to close the issue) - I will open an enhancement suggestion for lazy loading, and if @walkerde has it happen again we reopen with steps to replicate.

[2015-04-23 13:37] benbrignell opened #132 "Lazy loading of images"
#### Lazy loading `Enhancement`

Now there's a lot more images on the examples page it would be a good idea to lazy load (or have a smarter way of loading) a large amount of images.

It would be nice to start collecting the images for all the other resources but it's probably going to get slow.

[2015-04-28 03:44] bradfrost commented on #130
Hey there, thanks for the suggestion. I think it's a good idea to look into this, however I want to make sure we keep the featured (star) items at the top of the list.

[2015-04-29 21:48] brendanfalkowski commented on #124
I got some time back.

`You built a time machine out of a DeLorean?`

Can hack on the filter bugs. Need to get this Jekyll thing working locally though. Wasn't super great pushing in code to test on the site.

[2015-04-30 15:31] bradfrost commented on #124
![tumblr_mlvwtbphfe1r7emqio1_500](https://cloud.githubusercontent.com/assets/383701/7416309/0849f974-ef24-11e4-8918-305adb480541.gif)

[2015-04-30 15:33] bradfrost commented on #127
Alright we'll close this out for now, but yep it's definitely a good idea to open an enhancement issue to smartly load images.

[2015-04-30 15:33] #127 closed, assigned to nobody

[2015-05-01 11:13] whitingx commented on #130
Good idea @bradfrost - in this case perhaps there could be better definition of the _starred_ items, broken out into a separate 'featured' type section perhaps?

Could then work along the lines of;

---

## starred items (alpha sort)

## other items (alpha sort)

??

[2015-05-01 11:28] bradfrost commented on #130
Yeah it would definitely be two separate loops, but we'd still want them
displayed together. The obvious idea behind the featured items is to
surface particular stellar/seminal examples and resources, so if users
don't have time to view them all they can check out a few good ones.

On Friday, May 1, 2015, whitingx notifications@github.com wrote:

##

---

Brad Frost
http://bradfrost.com
http://twi

[2015-05-03 08:55] maban commented on #96
Is this working now? Did I or someone else fix it?

[2015-05-03 10:44] maban commented on #130
I've added this, using 2 separate loops to keep the recommended resources at the top. It'll also help us spot where we have duplicate entries.

[2015-05-03 10:44] #130 closed, assigned to nobody

[2015-05-03 10:49] maban commented on #106
Thanks for reporting this, @adam-lynch! Finally got round to fixing it :)

[2015-05-03 10:49] #106 closed, assigned to nobody

[2015-05-03 10:49] adam-lynch commented on #106
No prob :+1:

[2015-05-03 17:30] susanjrobertson commented on #96
I'm still seeing the issue on the site right now. For example, Jina Bolton's talk from CSSConfEU doesn't have a title, neither does Natalie Down's from Girl Geeks of Brighton, so not sure what is up. I can take a look at it later this week if you want.

[2015-05-05 10:42] whitingx commented on #130
That's great, thanks @maban :) Make the resources easier to scan/find :+1:

[2015-05-06 13:28] whitingx commented on #132
Wonder if it would also be useful to automate this screenshot process for when new resources are added.

Could use one of the _screenshot>image_ API services available (e.g. http://www.page2images.com/website_thumbnail_api_document) to remove the manual step of adding individual screenshots.

As this could be done off the URL used to link to the style guide resource it would have the benefit of be

[2015-05-06 13:52] benbrignell commented on #132
@whitingx at a quick glance I'm not sure if this particular suggestion would be suitable, however a solution like this would be worth considering but I think it best sit as it's own issue/suggestion.

As for lazy loading @maban, as you've tagged this 'help wanted' I recently used this https://github.com/kaizau/Lazy-Load-Images-without-jQuery which was quite lightweight and has no dependencies, whi

[2015-05-10 21:34] #96 closed, assigned to maban

[2015-05-10 21:38] maban commented on #96
That was me – I set it so that a title wouldn't be displayed if there was an image, the reasoning being that the talk image contains the title so it would be duplicated. But I think that's confusing, so I've set it back.

[2015-05-15 04:58] montogeek opened #143 ".net award nomination"
Styleguides.io has been nominated to .net awards nomination. Vote!! https://thenetawards.com/vote/collaboration/styleguides-io/

[2015-05-15 08:17] whitingx commented on #143
Also nominated in the _Podcast_ category;

https://thenetawards.com/vote/podcast/style-guide-podcast/

great work @maban & @bradfrost :+1:

[2015-09-01 11:30] whitingx opened #175 "Twitter/Social Media Section?"
There seem to be a few Style Guide related Twitter accounts around e.g.

https://twitter.com/guardianstyle
https://twitter.com/styleguide
https://twitter.com/tnwstyle

Would be useful to have a section on the site to capture these and any other Style Guide related social media accounts (e.g. https://www.pinterest.com/explore/style-guides/)

[2015-09-03 03:40] bradfrost commented on #175
Very interesting. I'm hesitant to add another section to the site (especially given our current small screen navigation pattern), but yeah this would probably be a good idea to track somewhere. I'm open to ideas.

[2015-09-07 08:26] whitingx commented on #175
@bradfrost - as an idea, could merge the `podcasts` & the `style guide podcast` menu items to a generic `podcasts` menu item, this might also make it easier for contributors to know where to add any new podcast resources.

This would then free up a menu item space to include a `social media` area (might want a more descriptive name for this)

cc/ @maban

[2015-09-07 21:14] maban commented on #175
@whitingx: the podcast suggestion is a very good one – I got confused by this the other day even though I built the damn thing.

I'll have a think about the social media suggestion. I like it, but I don't want people to think it's a link to _our_ social media accounts (if that makes sense).

[2015-09-22 20:12] nategreen opened #184 "Several articles are showing up without titles, authors and links"
...despite that these things exist in the YAML front matter. They're easy to spot because they're the first few entries after the recommended ones.

I tried to fix it and submit a PR but couldn't figure it out. I was thinking the problem was colons/commas in the titles, but I tried a few escaping filters on the template tags in loop_articles.html and none of them worked. I tried `escape`, `escape_

[2015-10-02 18:54] #184 closed, assigned to nobody

[2015-12-06 23:07] swashcap opened #208 "Remove Heroku’s “Purple” from Examples page"
Unfortunately, Heroku appears to have locked down their style guide for internal use only. https://purple.herokuapp.com/ authorizes with a Google account and yields the following response for me:

[code]

😐

[2015-12-06 23:09] bradfrost commented on #208
@swashcap yep, I've noticed that as well. I think I'm going to leave it on the site just in case that happens to change! Thanks

[2015-12-06 23:09] #208 closed, assigned to nobody

[2015-12-27 13:25] agibsen opened #213 "Scottish Gov Design Guide URL changed"
In `scottish-government.md` URL should be changed to:
http://resources.mygov.scot/standards/design-style/

[2016-02-01 15:00] #143 closed, assigned to nobody

[2016-02-01 15:03] #213 closed, assigned to bradfrost

[2016-03-10 15:28] danbrady opened #237 "Colons in YAML front matter values break formatting"
Perhaps a lo-fi fix could be to update the READMEs to suggest all titles to be wrapped in quotes?

[2016-03-11 09:49] maban commented on #237
This is a good idea – it's happened a few times. I'll make those changes now.

[2016-03-11 10:14] #237 closed, assigned to nobody

[2016-12-16 19:40] maban opened #310 "Enhancements"
Over the Christmas break, I'm going to dedicate some time to enhancing styleguides.io. Is there anything you'd like me to work on in particular?

[2016-12-16 19:56] bradfrost commented on #310
Wonderful, @maban!
I think a feature that would be helpful for a lot of people would be the ability to filter tools (http://styleguides.io/tools.html) by technology type. Lots of people ask me "Do you know any good ruby (or similar)-based style guide tools?" So that could be helpful!

I'll have a think about other stuff. Thanks for dedicating the time to this! Wish I could do the same :p

[2016-12-16 20:09] maban commented on #310
Ahh yes, good idea @bradfrost! We have tags for examples, so could use the same functionality there.

[2016-12-16 23:43] brendanfalkowski commented on #310
I'd like to rework the filters, because they work ok but it's hard to tell which are on/off without resetting. They could definitely be abstracted to work for other content types.

Other ideas:

1. In the card grid, the floats/clears are a bit messy (especially with filters on). We could update the card grid with flexbox and get nice uniform-height boxes that always wrap properly.

2. The home pag

[2016-12-16 23:48] maban commented on #310
@brendanfalkowski I'd love to apply some more styling to the filters to make the on/off state clearer, and make them more clickable. I can try and abstract them myself, unless you're eager to work on it. 😀

1. Yes! I'd like to maybe use Grid as well, since it's coming to browsers soon.
2. Ugh, totally. That'll be my priority. I had no idea we'd get so much content! Good problem to have, though.

[2016-12-29 14:25] maban commented on #310
I've made some quick and dirty updates, in particular to the filters (now using tags, at least for the moment, because filters make more sense for when you have lots and lots of tags). It's using jQuery which I'd like to convert into vanilla JS.

I've also restricted the number of items on the homepage to only show the recommended resources, although I like @brendanfalkowski's suggestion of enhanc

[2016-12-29 17:55] maban commented on #310
### Progress…

![screen shot 2016-12-29 at 17 53 56](https://cloud.githubusercontent.com/assets/237149/21550212/f19d749c-cdef-11e6-88cb-55bb4c32963f.png)
![screen shot 2016-12-29 at 17 54 19](https://cloud.githubusercontent.com/assets/237149/21550211/f19c9ff4-cdef-11e6-8230-f14757e89ecd.png)
![screen shot 2016-12-29 at 17 54 37](https://cloud.githubusercontent.com/assets/237149/21550213/f1a034e8-c

[2016-12-30 10:17] maban commented on #310
Just pushed some more changes to prod. Making more improvements.

[2016-12-30 10:18] maban commented on #125
Fixed!

[2016-12-30 10:18] #125 closed, assigned to maban

[2016-12-30 10:19] maban commented on #124
Changed the functionality of the tags a little, so this is fixed now.

[2016-12-30 10:19] #124 closed, assigned to nobody

[2016-12-30 10:19] maban commented on #126
Want.

[2016-12-30 10:20] #11 closed, assigned to nobody

[2016-12-30 10:20] #27 closed, assigned to nobody

[2016-12-30 10:21] #85 closed, assigned to nobody

[2016-12-30 10:21] #36 closed, assigned to nobody

[2016-12-30 16:59] maban commented on #132
Done!

[2016-12-30 16:59] #132 closed, assigned to maban

[2016-12-30 17:01] maban commented on #310
Ok, all enhancements requested are live. I need to clean up the code a bit, there's a lot of messy inline scripts and stuff.

[2016-12-30 17:01] #310 closed, assigned to brendanfalkowski, maban, bradfrost, Samanthatoy, Ianfeather, whitingx, susanjrobertson, michaelthorne

[2016-12-30 17:03] maban commented on #175
I've done your podcast suggestion – feels a lot better! Still not sure about making a section dedicated to social media though, as I don't think there's enough content to justify it. Perhaps I can create a twitter list on the styleguides.io twitter account, or we can add stuff to the "examples" section for now.

[2016-12-30 17:03] #175 closed, assigned to maban

[2017-01-08 19:05] maban commented on #126
This was done, thanks to @codegaze's work.

[2017-01-08 19:05] #126 closed, assigned to nobody

[2017-01-13 15:03] maban commented on #123
Pushed some fixes to this in https://github.com/maban/styleguides/commit/e5704b5f401ef6a7be0bd7c4684e57566b21cfde – going to see how it goes.

![screen shot 2017-01-13 at 15 01 05](https://cloud.githubusercontent.com/assets/237149/21934424/43be2f98-d9a1-11e6-8644-c7490f94c0bc.png)
<img width="334" alt="screen shot 2017-01-13 at 15 01 39" src="https://cloud.githubusercontent.com/assets/237149/21934

[2017-01-13 15:04] maban commented on #123
My only concern it that it's a little mystery-meat navigation at small sizes.

[2017-01-13 15:04] #123 closed, assigned to maban

[2017-08-03 13:03] benbrignell opened #363 "https"
Can this be made a thing? Probably a good idea to do sooner rather than later.

:: curtsies ::

[2017-08-07 14:13] bradfrost commented on #363
I'll be honest this is pretty low on the priority list for me. I don't know if other people can/could take a crack at it, but it's a static site with no transactional stuff in it at all.

[2017-09-12 09:14] whitingx opened #371 "Example Tag Listing"
On the 'example' section where it mentions available tags - https://github.com/maban/styleguides/tree/gh-pages/_resourceexample#tags - the following are listed;

frontend
backend
voiceandtone
writing
designlanguage
code
patterns

The current 'examples page on the site - http://styleguides.io/examples - shows additional tags to these ^ e.g.

rather then;

Does the list on the github page require up

[2017-10-04 09:25] #363 closed, assigned to nobody

[2017-10-04 19:01] sirjamesgray opened #380 "Open Links in new windows"
I'd love to see if others are interested in "open in new tab" being the default behavior of clicking the external links on the home page.

This will allow people to jump into the linked documentation of each design system without having to scroll through the tons of pages in their history to find the styleguides site again.

Sure, chrome could help us out by automatically grouping history by url,

[2017-11-19 18:53] maban commented on #380
Thanks for the feedback, @sirjamesgray! I'd like to avoid doing this as opening links in a new tab on the user's behalf is not a recommended practice as it messes with the default behaviour of the browser, and makes links work on the site inconsistently. If users wish to open links in new tabs, they can choose to do this (such as using command+click on a Mac).

[2017-11-19 18:53] #380 closed, assigned to nobody

[2018-01-04 15:13] brendenseidel opened #409 "Update or add new Boy Scouts of America brand guidlines"
Looks like they have a new website focused on their brand that's fairly detailed

**Brand in General**
https://scoutingwire.org/bsa-brand-center/

**Brand Identity in Particular**
https://scoutingwire.org/bsa-brand-center/brand-identity/

[2018-01-04 16:04] #409 closed, assigned to nobody

[2018-01-04 16:05] brendenseidel commented on #409
https://github.com/maban/styleguides/pull/410

[2018-01-19 19:09] d2s opened #417 "Git checkout fails because of a too long filename"
Tried to clone the repository, but couldn't checkout the tree (when using a Linux desktop).
Problem is caused by the painfully long filename for the Apple Watch Human Interface Guidelines.

- [/images/screenshots/ https_developer.apple.com_library_prerelease_ios_documentation_UserExperience_Conceptual_WatchHumanInterfaceGuidelines_index.html_apple_ref_doc_uid_TP40014992-CH3-SW1.jpg](https://github

[2018-01-25 14:24] Spone commented on #417
Here you go: #420

[2018-01-25 15:32] #417 closed, assigned to nobody

[2018-06-24 06:52] sturobson opened #437 "adding a 'recently added' and/or 'recently updated' section to the home page"
Hey all!

Love this resource <3!

I was wondering if there was any thought in adding a recently added section to the site so people that 'dip in' once in a while (myself, but there could be other) can see what's been updated.

I'm not sure how automated you could make this however.

What I'll do is fork the repo and see if it's possible - and I'll try and PR a change to add something - if that's c

[2018-07-02 02:28] bradfrost commented on #437
@sturobson YO! Thanks for the recommendation. Being that this is powered by a static site generator, I'm not sure how easy this feature would be to implement. I know Jekyll deals with time-specific stuff by naming blog folders with the timestamp. I guess we could add a `date added:` field to the front matter?

We're in the process of reimagining this whole shebang, so I hope it becomes a lot easie

[2018-07-02 08:22] sturobson commented on #437
Thanks Brad! I saw some things on twitters. If y'all need a hand with adding resources and things - perhaps news.design.systems can help with that too 👍

[2018-07-09 05:57] pmccloghrylaing opened #440 "Tools tagging"
The list of tools is excellent, but big, and most of them are untagged, making filtering relatively useless.

I've recently been going through the process of selecting tooling for a style guide where I had some specific requirements. Based on that I thought tagging tools based on the following would be useful (some already exist):

- Tool type: `Framework` (e.g. Bootstrap or Foundation) / `Generat

[2018-07-16 02:18] bradfrost commented on #440
Hey @pmccloghrylaing, thanks for this! Yep, we're in the process of doing a pretty major overhaul of how the site is structure, and this more nuanced tagging would be tremendously helpful. Would you be willing to put together a sample example using this example and share it here? Then we can go through and bash it all out. Thanks so much!

[2018-07-19 16:13] jina opened #444 "Add events section"
For design systems-focussed conferences and meet-ups!

[2018-07-19 16:14] bradfrost commented on #444
Great idea!

[2019-01-24 12:23] Rafi993 opened #465 "Simple Search to search resources"
Thanks for this awesome website. But one thing that I do miss here is the ability to search resources, articles, examples etc..